Package: se.nosskirneh.autodismisssiri
Name: AutoDismissSiri
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Automatically dismiss Siri after some idle time
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
